page-myths {
    .toolbar-background-md{
        background:linear-gradient(to right, #f2b509, #f49b00, #f58000, #f46100, #f13b0c) !important;
    }
    .toolbar-title-md{
        color:#fff;
    }
    .bar-button-default-md{
        color:#fff;
    }
    .mythstitle{
        font-family: 'Segoe UI';
        // border-bottom: 1px solid rgb(122,122,122);
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
}
