page-paypal-payment {
    .toolbar-background-md{
        background:linear-gradient(to right, #f2b509, #f49b00, #f58000, #f46100, #f13b0c) !important;
    }
    .toolbar-title{
        color:#fff !important;
    }
    .bar-button-default-md{
        color:#fff !important;
    } 
}
