page-prediction-list {
    
    .toolbar-background{
        background-image: linear-gradient(to right, #f2b509, #f49b00, #f58000, #f46100, #f13b0c)!important;
        background-image: -webkit-linear-gradient(to right, #f2b509, #f49b00, #f58000, #f46100, #f13b0c);
        background-image: -moz-linear-gradient(to right, #f2b509, #f49b00, #f58000, #f46100, #f13b0c);
        background-image: -ms-linear-gradient(to right, #f2b509, #f49b00, #f58000, #f46100, #f13b0c);
    }
    .ion-toolbar{
        position: relative;
    }
    .lpadding{
        padding-left: 0!important;
    }
    .rpadding{
        padding-right: 0!important;
    }
    .upload-heading h2{
        margin: 0;
        color: #fff;
        font-size: 16px;
        text-align: center;
    }


    .predictions{
        position: relative;
        padding-bottom: 50px;
    }
   
    .predictions-main {
        display: flex;
        width: 100%;
        margin: 20px 0 0;
        justify-content: space-between;
        padding: 0 15px 20px;
        border-bottom: 1px solid #ddd;
    }
    .predictions-left {
        display: flex;
        align-items: center;
    }
    .predictions-left img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        background: #ddd;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .predictions-left p {
        margin-bottom: 0;
        color: #33334B;
        font-size: 16px;
        font-weight: 600;
        width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: .86;
    }
    .upload-data.save-btns{
        position: initial;
    }
    .upload-data.save-btns.predictions-right button {
        width: 100%;
        padding: 8px 16px;
    }
    .predictions-data {
        display: flex;
    }
    .predictions-data p:first-child {
        font-weight: 700;
        width: 130px;
        opacity: .86;
    }
    
    .predictions-data p {
        color: #33334B;
        font-size: 16px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .predictions-request .details{
        color: #33334B;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 700;
        opacity: .86;
    }
    .radio-btns {
        margin-bottom: 20px;
        display: flex;
    }
    .upload-data.save-btns.predictions-comment {
        justify-content: initial;
        background: initial;
        // margin-bottom: 20px;
        position: initial;
        padding: 0 16px;
    }
    .upload-data.save-btns.predictions-comment button {
        margin-right: 30px;
    }
    .upload-data.save-btns.predictions-comment button:last-child{
        margin-right: 0;
    }
    .predictions-information {
        padding: 0 15px 15px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
    }
    p.details + small, p.message-info + small {
        color: #33334B;
        font-size: 12px;
        white-space: pre-wrap;
    }
    .upload-data.save-btns.predictions-right{
        position: initial;
        background:initial;
        margin-top: 0 !important;
        width: initial;
    }
    .upload-data.save-btns.predictions-right button{
        width: 100%!important;
    }
    .radio-btns .form-check-label {
        font-size: 16px;
        color: #33334B;
        font-weight: 700;
    }
    .new-predictions {
        display: flex;
        margin: 20px 0;
    }
    .new-predictions p:first-child {
        font-weight: 700;
    }
    .new-predictions p {
        color: #33334B;
        font-size: 16px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .predictions-list {
        border: 1px solid #505064;
        margin-bottom: 15px;
    }
    .predictions-list p{
        margin-bottom: 0;
        color: #33334B;
        font-size: 14px;
        font-weight: 700;
        padding: 10px 0 10px 15px;
    }
    p.message-info {
        color: #33334B;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .upload-data.save-btns.predictions-comment.new {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .predictions .profile-footer {
        bottom: 0;
    }
    .predictions {
        position: relative;
        padding-bottom:30px;
        // height: calc(100vh - 120px);
    }
    .predictions .upload-data.save-btns {
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
    }

    .upload-data.save-btns button {
        width: 140px;
        height: 30px;
        border: 0;
        border-radius: 30px;
        color: #fff;
        font-weight: 600;
        background-image: linear-gradient(to right, #f2880a, #f27901, #f26800, #f25503, #f13f0b);
        background-image: -webkit-linear-gradient(to right, #f2880a, #f27901, #f26800, #f25503, #f13f0b);
        background-image: -moz-linear-gradient(to right, #f2880a, #f27901, #f26800, #f25503, #f13f0b);
        background-image: -ms-linear-gradient(to right, #f2880a, #f27901, #f26800, #f25503, #f13f0b);
        font-size: 14px;
        box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
        text-transform: capitalize;
    }
    .upload-data.save-btns{
        background: transparent;
    }
    
    .radio-btns .radio-icon {
        width: 15px!important;
        height: 15px!important;
        border: 1px solid #F2730B;
        border-radius: 50%!important;
    }
    .radio-btns .radio-checked .radio-inner {
        left: 3px;
        top: 3px;
        position: absolute;
        width: 7px;
        height: 7px;
        border-width: 0!important;
        border-left-width: 0!important;
        border-style: none!important;
        border-color: transparent;
        transform: none !important;
        background: #E96E0B;
        border-radius: 50%!important;
    }
    .radio-btns .item-inner {
        flex-direction: row-reverse;
    }
    .radio-btns .item-radio-checked.item-ios ion-label,.radio-btns .item-radio-checked.item-md ion-label {
        color: #33334B;
        opacity: .86;
        font-size: 16px;
        font-weight: 500;
    }
    .radio-btns .item-inner{
        border-bottom: transparent!important;
    }
    .radio-btns ion-item {
        flex-basis: 100px!important;
        color: #33334B;
        opacity: .86;
        font-weight: 500;
        font-size: 16px;
    }
    .radio-btns ion-radio{
        margin: 0 10px 0 0!important;
    }
    .upload-view {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0 auto;
        background-color:#f5a251;
        background-repeat: no-repeat;
        background-size: cover; 
        text-align: center;
        color: #fff;
        margin-right: 5px;
        }
    
}
