<!--
  Generated template for the AddHoroscopeAbroadTravelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar>
      <ion-grid>
        <ion-row>
            <ion-col col-12 no-padding>
              <div class="upload-heading">
                  <h2>
                    <img (click)="onBackPressed()" src="assets/icon/arrow_back.svg" class="back-icons">
                    <img (click)="onHomePressed()" src="assets/icon/home-icon.svg" class="home-img float-right">
                    {{title | translate}}
                  </h2>
              </div>
          </ion-col>
        </ion-row>
        </ion-grid>
        </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="Chart-owner add-horoscope">
  
          <ion-grid>
            <!-- <ion-row>
                <ion-col col-12>
                    <div class="add-profile">
                      <div class="upload-view" (click)="getImage()" [ngStyle]="{'background-image': 'url('+horoscopeData.getHNativePhoto+')'}" >                              
                      </div>
                    
                       <p>{{'Upload picture of horoscope owner' | translate}}</p>
                       <div *ngIf=!isValidNativePhoto class="error-msg">{{errorNativeImage}}</div>
                    </div>
                </ion-col>
            </ion-row> -->
            
             <ion-row>
                   <ion-col col-12>
                       <div class="upload-content user-info  Marriage">
                          <p>{{'Any abroad travel date (if applicable)' | translate}}</p>
                           <form action="/action_page.php">
                             <div class="form-group">
                               <div class="form-data">
                                    <label>{{'Date of Travel' | translate}}</label>
                                    <div class="dob-add">
                                        <p (click)="selectCalendar(3,1)" *ngIf=!travelCalendar.getSelectedDate>{{'Day' | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectCalendar(3,1)" *ngIf=travelCalendar.getSelectedDate>{{travelCalendar?.getSelectedDate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectCalendar(3,2)" *ngIf=!travelCalendar.getSelectedMonth>{{'Month' | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectCalendar(3,2)" *ngIf=travelCalendar.getSelectedMonth>{{travelCalendar?.getSelectedMonthName | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectCalendar(3,3)" *ngIf=!travelCalendar.getSelectedYear>{{'Year' | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectCalendar(3,3)" *ngIf=travelCalendar.getSelectedYear>{{travelCalendar?.getSelectedYear}} <img src="assets/icon/down-arrow.svg"></p>
                                    </div>
                                </div>
                             </div>
                              <div class="form-group">
                               <div class="form-data">
                                    <label>{{'Approximate take off time' | translate}}</label>
                                    <div class="time-add">
                                        <p (click)="selectTime(3,1)" *ngIf="!travelTime.getSelectedHour">{{'HH' | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectTime(3,1)" *ngIf="travelTime.getSelectedHour">{{travelTime?.getSelectedHour}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectTime(3,2)" *ngIf="!travelTime.getSelectedMin">{{'MM' | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectTime(3,2)" *ngIf="travelTime.getSelectedMin">{{travelTime?.getSelectedMin}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectTime(3,3)" *ngIf="!travelTime.getSelectedSec">{{'SS' | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <!-- <p (click)="selectTime(1,3)" *ngIf="!ownerDobTime.getSelectedSec">00<img src="assets/icon/down-arrow.svg"></p> -->
                                        <p (click)="selectTime(3,3)" *ngIf="travelTime.getSelectedSec">{{travelTime?.getSelectedSec}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectTime(3,4)" *ngIf=!travelTime.getSelectedAmPm>{{'AM/PM' | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                        <p (click)="selectTime(3,4)" *ngIf=travelTime.getSelectedAmPm>{{travelTime?.getSelectedAmPm | translate}} <img src="assets/icon/down-arrow.svg"></p>
                                      </div>
                                     
                               </div>
                             </div>
                             <div class="form-group">
                               <div class="form-data">
                                    <label>{{'Where did you travel from (flight number, from where to where)' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'Where did you travel from (flight number, from where to where)' | translate}}"
                                    [ngModel]="horoscopeData?.getHAtPlace" (ngModelChange)="horoscopeData.setHAtPlace=$event"  name="travel_from">
                               </div>
                             </div>
                           </form>
                       </div>
                       <div class="form-group" >
                         <div class="upload-data save-btns upload-data-btns">
                           <button ion-button (click)="saveProfile('1')">{{'Next' | translate}}</button>
                           <!-- <button ion-button (click)="onBackPressed()">{{'Cancel' | translate}}</button> -->
                         </div>
                       </div>
                    </ion-col>
              </ion-row>
            <!-- <div class="profile-footer">
               <p><span class="global-img"></span> Headletters... all right reserved</p>
            </div> -->
        </ion-grid>
  
  
  </ion-content>
  <ion-footer class="upload-data-btns" [hidden]=true>
      <ion-toolbar>
        <button ion-button (click)="saveProfile('1')">{{'Save' | translate}}</button>
        <button  ion-button (click)="onBackPressed()">{{'Cancel' | translate}}</button>
      </ion-toolbar>
    </ion-footer>